
.margin-bottom-8 {
  margin-bottom: 0.8rem !important;
}

.margin-bottom-20 {
  margin-bottom: 2rem !important;
}

.margin-bottom-25 {
  margin-bottom: 2.5rem !important;
}

.margin-bottom-40 {
  margin-bottom: 4rem !important;
}

.margin-bottom-60 {
  margin-bottom: 6rem !important;
}

.margin-bottom-105 {
  margin-bottom: 10.5rem !important;
}

.margin-bottom-129 {
  margin-bottom: 12.9rem !important;
}

.margin-top-auto {
  margin-top: auto !important;
}
