@use "../abstracts/variables";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--body-color);
}

button {
  outline   : none;
  border    : none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color      : inherit;
}

a {
  text-decoration: none;
}