@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-ExtraBold.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Black.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Bold.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-ExtraLight.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-SemiBold.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Medium.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Light.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Regular.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/src/assets/fonts/KumbhSans/KumbhSans-Thin.woff2') format('woff2'),
  url('/src/assets/fonts/KumbhSans/KumbhSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}


//Gordita font

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-BlackItalic.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Bold.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Black.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-LightItalic.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Light.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-BoldItalic.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Medium.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Italic.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-MediumItalic.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  src: url('/src/assets/fonts/Gordita/Gordita-Regular.woff2') format('woff2'),
  url('/src/assets/fonts/Gordita/Gordita-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

