html.dark {
  --body-color:#1C1A2E;
  --text-color-priamry: #FFF;
  --text-color-secondary: #78778B;
  --backgound-color-input:#1C1A2E;
  --border-color-input: #282541;
  --border-color-checkbox: #78778B;
  --button-color-priamry: #C8EE44;

  --sidebar-color: #1E1C30;
  --background-total-card-color: #201E34;
  --background-total-card-color-hover:#282541;
  --background-total-card-color-icon:#292642;
  --background-total-card-color-icon-hover: #353255;
  --icon-total-card-color: #FFF;
}