html {
  --body-color:#FFF;
  --text-color-priamry: #1B212D;
  --text-color-secondary: #78778B;
  --backgound-color-input: #FFF;
  --border-color-input: #F2F2F2;
  --border-color-checkbox: #929EAE;
  --button-color-priamry: #C8EE44;

  --sidebar-color: #FAFAFA;
  --background-total-card-color: #F8F8F8;
  --background-total-card-color-hover:#363A3F;
  --background-total-card-color-icon:#EBE8E8;
  --background-total-card-color-icon-hover: #4E5257;
  --icon-total-card-color: #363A3F;
}
