//Section auth left
.auth {
  display:flex;
  height: 100vh;
//Logo
  &__logo {
    color: var(--text-color);
  }

  &__brand {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 1.2rem;

    & span {
      color: var(--text-color-primary);
      font-family: "Gordita", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__sign-in-form {
    padding: 4rem 13.5rem;
  }

  &__heading {
    color: var(--text-color-primary);
    font-size: 3rem;
    font-weight: 600;
  }

  &__subheading {
    color: var(--text-color-secondary);
    font-size: 1.6rem;
    font-weight: 400;
  }
  //Img right
  &__img {
    height: 100%;
    width: auto;
    margin-left: auto;
  }
}

.auth__form {
  width: 40.4rem;

  &-label {
    color: var(--text-color-priamry);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0;
    display: block;
  }

  &-input {
    width: 100%;
    padding: 1.5rem 2.5rem 1.6rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color-input);
    color: var(--Text-Color-Text-3, #78778B);
    font-size: 1.4rem;
    font-weight: 500;
  }

  &-remember {
    display: flex;
    align-items: center;

    & input {
      display: none;
    }
    & input:checked + &-checkbox:after, & input:checked + &-checkbox:before {
      display: block;
    }

    &-checkbox {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 3px;
      border: 1px solid var(--border-color-checkbox);
      margin-top: -3px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: -1px;
        left: -1px;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 3px;
        border: 1px solid var(--button-color-priamry);
        background-color: var(--button-color-priamry);
        z-index: 1;

      }
      &:before {
        content: url("/public/icons/check-box.svg");
        position: absolute;
        display: none;
        top: -1px;
        left: -1px;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 3px;
        z-index: 200;
      }
    }
    & label {
      color: var(--text-color-primary);
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: 0.9rem;
    }

    &-forgot-password {
      margin-left: auto;
      color: var(--text-color-primary);
      font-size: 1.4rem;
      font-weight: 500;
    }

  }

  &-sign-up {
    color: var(--border-color-checkbox);
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    & a {
      color: var(--text-color-priamry);
      position: relative;
      &:after{
        content: url("/public/icons/decoration-01.svg");
        position: absolute;
        top: 2.7rem;
        left: 0;
      }
    }
  }
}

.btn-submit {
  border-radius: 1rem;
  background-color: var(--button-color-priamry);
  width: 100%;
  height: 4.8rem;

  cursor: pointer;
  color: var(--text-color-priamry);
  font-size: 1.6rem;
  font-weight: 600;
}